* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
}

p {
  font-size: 1.25em;
  text-align: justify;
}

/* Barra de Navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #666;
  color: white;
  padding: 1em;
}

.navbar-left {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.navbar-left img {
  max-width: 100%;
  width: 80px;
}

.navbar-left h1 {
  font-size: 1.5em;
}

.navbar-right {
  font-size: 1em;
  cursor: pointer;
}

.menu-icon {
  font-size: 2.5em;
}

/* Título con Fondo Rojo */
.title-container {
  background-color: rgb(30, 48, 80);
  padding: 1em;
  text-align: center;
}

.title {
  color: white;
}

/* Párrafo de Ejemplo */
.paragraph-container {
  padding: 1em;
}

/* Tarjetas en 2 Columnas */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: calc(33.333% - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  background-color: #c9c9c9;
}

.card h2 {
  margin-top: 10px;
  font-size: 1.5em;
  color: rgb(38, 38, 239);
}

.card p {
  color: #000000;
}
.icon_card {
  font-size: 3em !important;
  color: rgb(30, 48, 80);
}

.make_container {
  justify-content: center;
  text-align: center;
}

.make_container img {
  max-width: 100%;
}

.card-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card2 {
  width: 100%;
  margin: 10px;
  padding: 0em;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
}

.card2 h2 {
  margin-top: 10px;
  font-size: 1.5em;
  color: rgb(38, 38, 239);
  
}

.card2 p {
  color: #000000;
  font-size: 20px;
  justify-content: center;
}

.image_card2 {
  border-radius: 30px;
  max-width: 100%;
}

.card3 {
  max-width: 55%;
}

.full-width-text {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url("../IMG/maquinaria-amarilla.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  justify-content: center;
  padding: 1em;
  box-sizing: border-box;
}

.full-width-text::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 249, 0.394);
}

.full-width-text p {
  z-index: 1;
  position: relative;
}

.container {
  width: 50%;
  margin: auto;
  padding: 1em;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 2em;
}

.map_container {
  justify-content: center;
  text-align: center;
  padding-top: 2em;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 2em;
  gap: 2em;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select,
textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 1.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 1em 1.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Estilos para dispositivos móviles a partir de 900px */
@media (max-width: 880px) {
  .navbar-left img {
    width: 80%; /* Ajusta el ancho de la imagen en dispositivos móviles */
  }

  .navbar-left h1 {
    font-size: 1.2em; /* Ajusta el tamaño del texto del título en dispositivos móviles */
  }

  .menu-icon {
    font-size: 25px; /* Ajusta el tamaño del ícono del menú en dispositivos móviles */
    margin-right: 5px; /* Agrega un espacio entre el icono y el texto */
  }

  /* Ajustes para el contenedor de las tarjetas */
  .card-container {
    flex-direction: column; /* Cambia a diseño de columna en dispositivos móviles */
  }

  .card {
    width: calc(100% - 20px); /* Ocupa el 100% del ancho en dispositivos móviles con un pequeño margen */
    margin: 10px; /* Ajusta el margen entre tarjetas en dispositivos móviles */
  }

  .make_container {
    text-align: center;
  }

  .make_container img {
    max-width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor en dispositivos móviles */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
  }

  .card2 {
    width: calc(100% - 20px); /* Ocupa el 100% del ancho en dispositivos móviles con un pequeño margen */
    margin: 10px; /* Ajusta el margen entre tarjetas en dispositivos móviles */
  }

  .image_card2 {
    width: 100%; /* Ocupa el 100% del ancho en dispositivos móviles */
    border-radius: 0; /* Elimina el redondeo de las esquinas en dispositivos móviles */
  }

  .container {
    width: calc(100% - 40px); /* Ocupa el 100% del ancho en dispositivos móviles con un pequeño margen */
    margin: 20px auto; /* Ajusta el margen superior e inferior en dispositivos móviles */
    padding: 1em; /* Ajusta el espacio interno en dispositivos móviles */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
  }

  .map_container {
    padding-top: 1em; /* Ajusta el espacio superior en dispositivos móviles */
    max-width: 100%; /* Hace que el mapa no exceda el ancho de la pantalla */
    overflow: hidden; /* Evita que el mapa se salga de la pantalla */
  }

  .wrapper {
    margin: 1em; /* Ajusta el margen en dispositivos móviles */
    gap: 1em; /* Ajusta el espacio entre elementos en dispositivos móviles */
  }

  /* Ajustes para el mapa y el formulario uno debajo del otro */
  .map_container,
  .container {
    width: 100%; /* Ocupa el 100% del ancho en dispositivos móviles */
  }
}
